### ETL Project

In [1]:
import os
import pandas as pd
from sqlalchemy import create_engine
from config import username, password, dbhost, dbport, dbname

### Extract CSVs into DataFrames

In [2]:
movies_path = os.path.join('Resources', 'movies.csv')
movies_df = pd.read_csv(movies_path, low_memory=False)

In [3]:
ratings_path = os.path.join('Resources', 'ratings.csv')
ratings_df = pd.read_csv(ratings_path)
ratings_df

,imdb_title_id,weighted_average_vote,total_votes,mean_vote,median_vote,votes_10,votes_9,votes_8,votes_7,votes_6,...,females_30age_avg_vote,females_30age_votes,females_45age_avg_vote,females_45age_votes,top1000_voters_rating,top1000_voters_votes,us_voters_rating,us_voters_votes,non_us_voters_rating,non_us_voters_votes
0,tt0000009,5.9,154,5.9,6.0,12,4,10,43,28,...,5.7,13.0,4.5,4.0,5.7,34.0,6.4,51.0,6.0,70.0
1,tt0000574,6.1,589,6.3,6.0,57,18,58,137,139,...,6.2,23.0,6.6,14.0,6.4,66.0,6.0,96.0,6.2,331.0
2,tt0001892,5.8,188,6.0,6.0,6,6,17,44,52,...,5.8,4.0,6.8,7.0,5.4,32.0,6.2,31.0,5.9,123.0
3,tt0002101,5.2,446,5.3,5.0,15,8,16,62,98,...,5.5,14.0,6.1,21.0,4.9,57.0,5.5,207.0,4.7,105.0
4,tt0002130,7.0,2237,6.9,7.0,210,225,436,641,344,...,7.3,82.0,7.4,77.0,6.9,139.0,7.0,488.0,7.0,1166.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85850,tt9908390,5.3,398,5.5,6.0,13,9,26,65,104,...,5.7,11.0,5.0,2.0,5.5,12.0,6.3,22.0,5.3,214.0
85851,tt9911196,7.7,724,7.9,8.0,65,139,288,170,42,...,8.0,47.0,7.3,30.0,7.0,6.0,6.8,13.0,7.7,388.0
85852,tt9911774,7.9,265,7.8,8.0,63,29,61,61,31,...,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,2.0,2.0
85853,tt9914286,6.4,194,9.4,10.0,176,0,2,2,1,...,NaN,NaN,7.0,1.0,4.0,3.0,1.7,5.0,5.8,5.0
85854,tt9914942,6.7,102,6.8,7.0,4,4,21,35,27,...,6.8,4.0,7.5,4.0,7.0,4.0,6.7,13.0,6.7,60.0

### Create database connection

In [4]:
connection_string = f'postgresql://{username}:{password}@{dbhost}:{dbport}/{dbname}'

engine = create_engine(connection_string)
conn = engine.connect()

### Load DataFrames into database

In [5]:
movies_df.to_sql(name='movies', con=conn, if_exists='replace')

In [6]:
ratings_df.to_sql(name='ratings', con=engine, if_exists='replace')

In [10]:
movies_list = pd.read_sql('select * from movies_list', con=engine)
movies_list

,imdb_title_id,title,year,language,country
0,tt0000009,Miss Jerry,1894,None,USA
1,tt0000574,The Story of the Kelly Gang,1906,None,Australia
2,tt0001892,Den sorte drøm,1911,None,"Germany, Denmark"
3,tt0002101,Cleopatra,1912,English,USA
4,tt0002130,L'Inferno,1911,Italian,Italy
...,...,...,...,...,...
85850,tt9908390,Le lion,2020,French,"France, Belgium"
85851,tt9911196,De Beentjes van Sint-Hildegard,2020,"German, Dutch",Netherlands
85852,tt9911774,Padmavyuhathile Abhimanyu,2019,Malayalam,India
85853,tt9914286,Sokagin Çocuklari,2019,Turkish,Turkey
85854,tt9914942,La vida sense la Sara Amat,2019,Catalan,Spain